# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\moonk\OneDrive - Columbia Business School\OneDrive\Columbia Business School\Class\SPRING 2021\Web App Programming in Python\classScript\class3_Django\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
